

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
    text-align: end;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.navbar {
    background-color: #1F2937;
    height: 80px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
}

.con {
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    flex-shrink: 2;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.top {
    object-fit: cover;
    width: 400px;
    height: 250px;
    padding: 20px;
}

.button {
    border-radius: 5px;
    border: 0px;
    background-color: #3882f6;
    padding: 5px 30px;
    color: #F9FAF8;
    min-height: 0;
}

img {
    object-fit: cover;
    width: 130px;
    height: 130px;
    border-radius: 25px;
}

.header,
.showcase {
    background-color: #1F2937;
    color: #F9FAF8;
    margin: 0;
}

.showcase {
    display: flex;

}

.showcase h1 {
   font-size: 48px;
   font-weight: bolder;
}

.showcase p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 15px;
    min-height: 0;
}

.grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

}









.filler {
    background-color: #e5e7eb;
    padding: 80px 60px;
    margin: 60px 0px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.quote,
.author {
    color: #1F2937;
    padding: 0px 80px;
}



.bold {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
   text-align: center;
    padding: 40px 80px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: light;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.card {
    max-width: 200px;
}


.base {
    background-color: #3882f6;
    color: #e5e7eb;
    margin: 80px;
    font-size: 18px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author {
    font-weight: bold;
    text-align: end;
}

.call {
    padding-right: 100px;
}

.sign {
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    color: #e5e7eb;
    background-color: #3882f6;
    padding: 2px 10px;
    width: 100px;
    padding: 2px;

}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    font-size: 13px;
}

